body {
    background: #142d63;
}

#bongocat {
    height: 100px;
    width: 100px;

}

#titleHeader {
    display: flex;
    align-items: center;
}

#headTitle {
    display: inline;
    color: #142d63;
}

#stopSoundButton {
    margin-top: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

p {
    color: white;
}

h2 {
    color: #a828ed;
    display: inline;
}

.readOptions {
    display: flex;
}

#noScroll {
    position: fixed;
    background: #7093e0;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#pageContent {
    margin-top: 200px;
    text-align: center;
}

.labelGroupings {
    color: #c6eb34;
    display: flex;
}

.dropdownLabels {
    padding-right: 5px;
}

#dropdownDiv {
    padding-right: 2em;
}
